{% extends 'layout.html' %}

{%block main%}
{% for content in contents %}
<div class="listBox">
    <h1>{{content.title}}</h1>
    <p class="colDefault">
        作者：<span class="colInfo"><td>{{content.user.username}}</td></span> -
        时间：<span class="colInfo">{{content.addTime|date('Y-m-d H:i:s',-8*60)}}</span> -
        阅读：<span class="colInfo">{{content.views}}</span> -
        评论：<span class="colInfo">10</span>
    </p>
    <dfn><p>{{content.description}}</p></dfn>
    <div class="function"><a href="/view?contentId={{content.id}}&page={{page}}&category={{category}}">阅读全文</a></div>
</div>
{% endfor %}
{%endblock%}